{% extends 'pages/base.html.twig' %}

{% block title %}
    MaFiche - employeur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <main class="container">
        <h2 class=" font-weight-semibold mb-4 text-center text-white">Ma fiche employeur </h2>
        <div class="row g-4">
            <!-- Carte de ma fiche -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Identité</h3>
                        <p>Civilité: {{ app.user.civilite }}</p>
                        <p>Nom: {{ app.user.nom }}</p>
                        <p>Prenom: {{ app.user.prenom }}</p>
                        <h3>Information profesionnelles</h3>
                        <p>Entreprise: {{ app.user.employeur.entreprise }}</p>
                        <p><a href="{{ path('modifierMesInformationsE', {'id': app.user.employeur.id}) }}">Modifier mes informations</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}