{% extends 'pages/base.html.twig' %}

{% block title %}
    modification - employeur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

<main class="container mt-5">
    <h2 class="text-center mb-4">Modifier mes informations</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="text-dark form-group mb-3">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="text-dark form-group mb-3">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.prenom) }}
                </div>

                <div class="text-dark form-group mb-3">
                    {{ form_label(form.entreprise, 'entreprise', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.entreprise) }}
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</main>


{% endblock %}