{% extends 'pages/base.html.twig' %}

{% block title %}
    Page Profil - employeur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <main class="container">
        <h3 class=" font-weight-semibold mb-4 text-center">Bienvenue sur votre espace employeur {{ app.user.prenom }} ! </h3>
        <!-- Cartes -->
        <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex">
            <div class="col m-4"><a href="{{ path('maFicheE') }}">
                <h3>Ma Fiche Employeur</h3>
                <img src="img/ma-fiche.png" alt="MaFiche" width="70"></a>
            </div>
            <div class="col m-4 ms-auto"><a href="{{ path('modifierMesInformationsE', {'id': app.user.employeur.id}) }}">
                <h3>Modifier Mes Informations</h3>
                <img src="img/modifier-mes-infos.png" alt="ModifierMesInformations" width="70"></a>
            </div>
            <div class="col m-4"><a href="{{ path('mesOffresE') }}">
                <h3>Visualiser Mes Offres</h3>
                <img src="img/Mes-Candidatures.png" alt="MesOffres" width="70"></a>
            </div>
            <div class="col m-4 ms-auto"><a href="{{ path('filtrer_candidatures') }}">
                <h3>Candidatures Spontanés</h3>
                <img src="img/alerte.png" alt="MesAlertes" width="70"></a>
            </div>
            <div class="col m-4"><a href="{{ path('mesIdentifiantsDeConnexionE') }}">
                <h3>Modifier Mes Identifiants</h3>
                <img src="img/Modifier-Mes-Piece-Jointes.png" alt="ModifierMesIdentifiants" width="70"></a>
            </div>
            <div class="col m-4 ms-auto"><a href="{{ path('supprimer-compteE') }}">
                <h3>Supprimer Mon Compte</h3>
                <img src="img/desactivez-mon-compte.png" alt="SupprimerMonCompte" width="70"></a>
            </div>
        </section>
    </main>
{% endblock %}