{% extends 'pages/base.html.twig' %}

{% block title %}
    Blog - Page d'offres
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}

    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <!-- Contenu principal -->
    <h2>{{ nombreOffres }} Offre{% if nombreOffres > 1 %}s{% endif %} disponible{% if nombreOffres > 1 %}s{% endif %}</h2>
    <section class="container-fluid">
    
    <div class="row">
    {% for offre in offres %}
            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : {{ offre.poste }} (H/F) </h4>
                    <p>
                        {{ offre.localisation }}
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                        {# <p>{{ offre.datePublication }}</p> #}
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>{{ offre.typeContrat }}</p>
                        </div>
                        <div class="modalites">
                            <p>{{ offre.modaliteTravail }}</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        {{ offre.descriptionPoste }}
                    </p>
                </div>
            </div>
    </div>
    {% else %}
        <p>Aucune offre trouvée.</p>
    {% endfor %}

    </section>

{% endblock %}
