
    {# <h2>Candidatures pour le poste sélectionné</h2>

    {% if candidatures is not empty %}
        <ul>
            {% for candidature in candidatures %}
                <li>
                    <strong>Nom :</strong> {{ candidature.nom }}<br>
                    <strong>Poste :</strong> {{ candidature.poste }}<br>
                    <strong>Date de candidature :</strong> {{ candidature.date|date('Y-m-d') }}<br>
                    <a href="{{ asset('uploads/' ~ candidature.cv) }}" download>Télécharger le CV</a><br>
                    <a href="{{ asset('uploads/' ~ candidature.lm) }}" download>Télécharger la Lettre de Motivation</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune candidature pour ce poste.</p>
    {% endif %}

 #}
