<!-- formulaire pour filtrer une offre -->
<section class="container-form-page mt-5">
    <!-- Boîte contenant le formulaire -->
    <div class="form-container">
        <h3 class="text-center mb-2">Rechercher une offre d'emploi</h3>
        {{ form_start(formRecherche, { 'method': 'GET', 'attr': { 'class': 'form-inline' } }) }}
            <div class="row g-4 mb-4">
                <div class="col-md-5">
                    {{ form_label(formRecherche.poste, 'Poste') }}
                    {{ form_widget(formRecherche.poste, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(formRecherche.typeContrat, 'Type de contrat') }}
                    {{ form_widget(formRecherche.typeContrat, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(formRecherche.modaliteTravail, 'Modalité de travail') }}
                    {{ form_widget(formRecherche.modaliteTravail, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-5">
                    {{ form_label(formRecherche.localisation, 'Localisation') }}
                    {{ form_widget(formRecherche.localisation, { 'attr': { 'class': 'form-control' } }) }}
                </div>
            </div>
        {{ form_end(formRecherche) }}
    </div>
</section>