<header>
    <div>
        {% if isSecondaryNavbar %}
            <!-- Navbar spécifique -->
            <nav class="secondary-navbar navbar" id="top">
                <ul>
                    <li class="logo-group">
                        <a href="{{ path('home') }}">
                            <img class="shadow-blue" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                        </a>
                    </li>
                    <div class="right-links">
                        <li><a href="{{ path('inscription') }}">Inscription</a></li>
                        <li><a href="{{ path('connexion') }}">Connexion</a></li>
                        <li><a href="{{ path('candidatureSpontanée') }}" class="candidature-link">Candidature Spontanée</a></li>
                    </div>
                </ul>
            </nav>
            <!-- Formulaire spécifique pour la page nosOffres -->
            <div class="video-container">
                <video autoplay muted loop id="bg-video">
                    <source src="video/6472912-hd_1280_720_24fps.mp4" type="video/mp4">
                </video>
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-12">
                    <h2>Recherche d'une offre d'emplois</h2>
                    </div>
                    <div class="col-6">
                        <label class="visually-hidden" for="autoSizingSelect">Recherche Poste</label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Recherche Poste</option>
                            <option value="1">Agent Piste</option>
                            <option value="2">Agent Escale</option>
                            <option value="3">Agent Trafic</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="visually-hidden" for="autoSizingSelect">Type de Contrat</label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Type de Contrat</option>
                            <option value="1">CDD</option>
                            <option value="2">CDI</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="visually-hidden" for="autoSizingSelect">Modalités de Travail</label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Modalités de Travail</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="visually-hidden" for="autoSizingSelect">Localisation</label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Localisation</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Recherchez</button>
                    </div>
                </form>
            </div>
        {% else %}
            <!-- Navbar par défaut (si ce n'est pas la page nosOffres) -->
            <nav class="navbar" id="top">
                <div class="logo-group">
                    <a href="{{ path('home') }}">
                        <img class="shadow-blue" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                    </a>
                </div>
                <div id="menu-toggle" class="menu">
                    <div class="scroll">
                        <i class="fa-solid fa-bars"></i>
                        <p>MENU</p>
                    </div>
                </div>
                <!-- Liens de navigation cachés -->
                <ul id="nav-links" class="nav-links">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('nosServices') }}">Nos Services</a></li>
                    <li><a href="{{ path('nosOffres') }}">Nos Offres</a></li>
                    <li><a href="{{ path('nosChiffres') }}">Nos chiffres</a></li>
                </ul>
            </nav>
            <div class="video-container">
                <video autoplay muted loop id="bg-video">
                    <source src="video/6472912-hd_1280_720_24fps.mp4" type="video/mp4">
                </video>
            </div>
        {% endif %}
    </div>
</header>
