<header>
    <div>
        {% if offreNavbar|default(false) %}
            <!-- Navbar spécifique offre-->
            <nav class="secondary-navbar navbar" id="top">
                <ul>
                    <li class="logo-group">
                        <a href="{{ path('nosOffres') }}">
                            <img class="shadow-blue pe-none" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                        </a>
                    </li>
                    <div class="right-links">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <p>ESPACE COMPTE | </p>
                            </li>
                            <li>
                                <a href="{{ path('deconnexion') }}" class="candidature-link">Déconnexion</a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('inscription') }}">Inscription</a></li>
                            <li><a href="{{ path('connexion') }}">Connexion</a></li>
                            <li><a href="{{ path('candidatureSpontanee') }}" class="candidature-link">Candidature Spontanée</a></li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
        {% if withFiltrer|default(true) %}
                        {% if formRecherche is not null %}
                            {% include "components/filtrer-offre.html.twig" with {'formRecherche': formRecherche} %}
                        {% endif %}
                    {% endif %} 
            <!-- image container  -->
            <style>
            .imagebackground {
                height: 110vh; /* Hauteur complète de la fenêtre */
                background-image: url('/img/IMG_5589.jpg'); /* Image de fond */
                background-size: cover; /* L'image couvre tout l'espace */
                background-position: center; /* Centre l'image */
                background-repeat: no-repeat; /* Pas de répétition */
                display: flex; /* Utilisation de flexbox */
                align-items: center; /* Centre verticalement */
                justify-content: center; /* Centre horizontalement */
            }
            </style>
            <div class="imagebackground">
            </div>

        {% elseif employeurNavbar|default(false) %}
            <!-- Navbar spécifique employeur -->
            <nav class="secondary-navbar navbar" id="top">
                <ul>
                    <li class="logo-group">
                        <a href="{{ path('profilEmployeur') }}">
                            <img class="shadow-blue pe-none" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                        </a>
                    </li>
                    <div class="right-links">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <p>ESPACE COMPTE | </p>
                            </li>
                            <li>
                                <a href="{{ path('deconnexion') }}" class="candidature-link">Déconnexion</a>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
            {% if withFiltrer|default(true) %}
                        {% if formPoster is not null %}
                            {% include "components/poster-offre.html.twig" with {'formPoster': formPoster} %}
                        {% endif %}
                    {% endif %}
            <style>
            /* image container */
            /* css interne */
            .imagebackground {
                height: 110vh; /* Hauteur complète de la fenêtre */
                background-image: url('/img/imgresolus.jpg'); /* Image de fond */
                background-size: cover; /* L'image couvre tout l'espace */
                background-position: center; /* Centre l'image */
                background-repeat: no-repeat; /* Pas de répétition */
                display: flex; /* Utilisation de flexbox */
                align-items: center; /* Centre verticalement */
                justify-content: center; /* Centre horizontalement */
            }
            </style>
            <div class="imagebackground">
            </div>


        {% elseif candidatNavbar|default(false) %}
            <!-- Navbar spécifique candidat -->
            <nav class="secondary-navbar navbar" id="top">
                <ul>
                    <li class="logo-group">
                        <a href="{{ path('profilCandidat') }}">
                            <img class="shadow-blue pe-none" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                        </a>
                    </li>
                    <div class="right-links">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <p>ESPACE COMPTE | </p>
                            </li>
                            <li>
                                <a href="{{ path('deconnexion') }}" class="candidature-link">Déconnexion</a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('inscription') }}">Inscription</a></li>
                            <li><a href="{{ path('connexion') }}">Connexion</a></li>
                            <li><a href="{{ path('candidatureSpontanee') }}" class="candidature-link">Candidature Spontanée</a></li>
                        {% endif %}
                    </div>
                </ul>
            </nav>

        {% if withFiltrer|default(true) and formRecherche is not null %}
                {% include "components/filtrer-offre.html.twig" with {'formRecherche': formRecherche} %}
            {% else %}
                <!-- image container -->
                <style>
                .imagebackground {
                    height: 110vh; /* Hauteur complète de la fenêtre */
                    background-image: url('/img/IMG_5589.jpg'); /* Image de fond */
                    background-size: cover; /* L'image couvre tout l'espace */
                    background-position: center; /* Centre l'image */
                    background-repeat: no-repeat; /* Pas de répétition */
                    display: flex; /* Utilisation de flexbox */
                    align-items: center; /* Centre verticalement */
                    justify-content: center; /* Centre horizontalement */
                }
                </style>
                <div class="imagebackground">
                </div>
            {% endif %}

        {% else %}
            <!-- Navbar par défaut -->
            <nav class="navbar" id="top">
                <div class="logo-group">
                    <a href="{{ path('home') }}">
                        <img class="shadow-blue pe-none" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                    </a>
                </div>
                <div id="menu-toggle" class="menu">
                    <div class="scroll">
                        <i class="fa-solid fa-bars"></i>
                        <p>MENU</p>
                    </div>
                </div>
                <!-- Liens de navigation cachés -->
                <ul id="nav-links" class="nav-links">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('nosServices') }}">Nos Services</a></li>
                    <li><a href="{{ path('nosOffres') }}">Nos Offres</a></li>
                    <li><a href="{{ path('nosChiffres') }}">Nos chiffres</a></li>
                </ul>
            </nav>
            <div class="video-container">
                <video autoplay muted loop id="bg-video">
                    <source src="video/6472912-hd_1280_720_24fps.mp4" type="video/mp4">
                </video>
            </div>
        {% endif %}
    </div>
</header>
