{% extends 'pages/base.html.twig' %}

{% block title %}
    maFiche - candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <main class="container">
    <h4 class=" font-weight-semibold mb-4 text-center">Ma fiche candidat </h4>
            <!-- Cartes -->
            <div class"bordure m-2">
                <h3>Identité</h3>
                <p>Civilité: {{ app.user.civilite }}</p>
                <p>Nom: {{ app.user.nom }}</p>
                <p>Prenom: {{ app.user.prenom }}</p>
            </div>

            <div class"bordure m-2">
                <h3>Information personnelles</h3>
                <p>Nationalité: {{ app.user.getCandidat.nationalite}}</p>
                <p>Date de naissance: {{ app.user.getCandidat.dateNaissance|date('d/m/Y')}} </p>
                <p>Telephone: {{ app.user.getCandidat.telephone }}</p>
            </div>

            <div class"bordure m-2">
                <h3>Poste recherché</h3>
                <p>Poste: {{ app.user.getCandidat.poste }}</p>
                <p>Date de disponibilité: {{ app.user.getCandidat.dateDisponibilite|date('d/m/Y')}}</p>
            </div>         

            <div class"bordure  m-2">
                <h3>Mes pièces jointes</h3>
                <p>Cv: {{ app.user.getCandidat.cv }}</p>
                <p>Lettre de motivation: {{ app.user.getCandidat.lettreMotivation}}</p>
                <p><a href="{{ path('modifierMesInformations', {'id': app.user.candidat.id}) }}">Modifier mes informations</a></p>
            </div>

    </main>




{% endblock %}