{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de profil - candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}

    <main class="container">
    <h4 class=" font-weight-semibold mb-4 text-center">Bienvenue sur votre espace candidat ! </h4>
        <!-- resultat offre -->
        {% include "components/resultat-offre.html.twig" %}
            <!-- Cartes -->
            <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col m-2"><a href="{{ path('maFiche') }}">
                    <h3>Ma Fiche Candidat</h3>
                    <img src="img/Capture dՎcran ma fiche.png" alt="Ma fiche" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('modifierMesInformations', {'id': app.user.candidat.id}) }}">
                    <h3>Modifier Mes Informations</h3>
                    <img src="img/Capture dՎcran modifier mes infos.png" alt="Modifier Mes Informations" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('mesCandidatures') }}">
                    <h3>Visualiser Mes candidatures</h3>
                    <img src="img/Capture dՎcran Mes Candidatures.png" alt="Mes Candidatures" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('mesIdentifiantsDeConnexion') }}">
                    <h3>Modifier Mes Identifiants</h3>
                    <img src="img/Capture dՎcran modifier mes infos.png" alt="Modifier Mes Identifiants" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('supprimer_compte') }}">
                    <h3>Supprimer Mon Compte</h3>
                    <img src="img/Capture dՎcran desactivez mon compte.png" alt="Desactiver Mon Compte" width="70%"></a>
                </div>

            </section>
        </div>
    </main>

{% endblock %}