{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de profil - candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <main class="container">
    <h4 class=" font-weight-semibold mb-4 text-center">Bienvenue sur votre espace candidat ! </h4>
        <!-- Cartes -->
        <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col m-2"><a href="{{ path('maFiche') }}">
                <h3>Ma Fiche Candidat</h3>
                <img src="img/Capture d’écran ma fiche.png" alt="Ma fiche" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('modifierMesInformations', {'id': app.user.candidat.id}) }}">
                <h3>Modifier Mes Informations</h3>
                <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Informations" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('mesCandidatures') }}">
                <h3>Visualiser Mes candidatures</h3>
                <img src="img/Capture d’écran Mes Candidatures.png" alt="Mes Candidatures" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('mesIdentifiantsDeConnexion') }}">
                <h3>Modifier Mes Identifiants</h3>
                <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Identifiants" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('supprimer_compte') }}">
                <h3>Supprimer Mon Compte</h3>
                <img src="img/Capture d’écran desactivez mon compte.png" alt="Desactiver Mon Compte" width="70%"></a>
            </div>
        </section>

        <!-- resultat offre -->
        <h2>{{ nombreOffres }} Offre{% if nombreOffres > 1 %}s{% endif %} disponible{% if nombreOffres > 1 %}s{% endif %}</h2>
        <section class="container-fluid">
            <div class="row">
            {% for offre in offres %}
                    <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                        <div>
                            <h4 class="h-black">Offre d'emploi : {{ offre.poste }} (H/F) </h4>
                            <p>
                                {{ offre.localisation }}
                            </p>
                            <p>
                                Date de publication : {{ offre.datePublication|date('d/m/Y') }}
                            </p>
                            <div class="type">
                                <div class="contrat">
                                    <p>{{ offre.typeContrat }}</p>
                                </div>
                                <div class="modalites">
                                    <p>{{ offre.modaliteTravail }}</p>
                                </div>
                                <form action="{{ path('postuler', {'offreId': offre.id}) }}" method="POST">
                                    <input type="submit" value="Postuler">
                                </form>
                            </div>
                            <p>
                                Description du poste:
                                {{ offre.descriptionPoste }}
                            </p>
                        </div>
                    </div>
            </div>
            {% else %}
                <p>Aucune offre trouvée.</p>
            {% endfor %}
        </section>
        
    </main>

{% endblock %}