{% extends 'pages/base.html.twig' %}

{% block title %}
    profil - candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}
    {# Affiche les messages flash s'ils existent #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}   

    <main class="container">
    <h4 class=" font-weight-semibold mb-4 text-center">Bienvenue sur votre espace candidat {{ app.user.prenom }} ! </h4>

    <!-- Résultat des offres -->
    <h2 class="text-white">{{ nombreOffres }} Offre{% if nombreOffres > 1 %}s{% endif %} disponible{% if nombreOffres > 1 %}s{% endif %}</h2>

        <section class="container">
        <p>Page {{ offres.currentPageNumber }} sur {{ offres.pageCount }}</p>
            <!-- Grille Bootstrap -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
                {% for offre in offres %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">Offre d'emploi : {{ offre.poste }} (H/F)</h4>
                                <p class="card-text">
                                    <strong>Localisation :</strong> {{ offre.localisation }}<br>
                                    <strong>Date de publication :</strong> {{ offre.datePublication|date('d/m/Y') }}
                                </p>
                                <div class="type">
                                    <div class="contrat">
                                        <p><strong>Type de contrat :</strong> {{ offre.typeContrat }}</p>
                                    </div>
                                    <div class="modalites">
                                        <p><strong>Modalités :</strong> {{ offre.modaliteTravail }}</p>
                                    </div>
                                </div>
                                <form action="{{ path('postuler', {'offreId': offre.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-primary m-2">Postuler</button>
                                </form>
                                <p class="mt-3">
                                    <strong>Description du poste :</strong><br>
                                    {{ offre.descriptionPoste }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Aucune offre trouvée.</p>
                {% endfor %}

                <!-- Pagination -->
                <div class="d-flex">

                    {% if offres.currentPageNumber > 1 %}
                        <a href="{{ path('profilCandidat', {'page': offres.currentPageNumber - 1}) }}" class="text-white text-decoration-none btn btn-primary m-2">Page précédente</a>
                    {% endif %}

                    {% if offres.currentPageNumber < offres.pageCount %}
                        <a href="{{ path('profilCandidat', {'page': offres.currentPageNumber + 1}) }}" class="text-white text-decoration-none btn btn-primary m-2 ms-auto">Page suivante</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Cartes -->
        <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col m-2"><a href="{{ path('maFiche') }}">
                <h3>Ma Fiche Candidat</h3>
                <img src="img/Capture d’écran ma fiche.png" alt="Ma fiche" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('modifierMesInformations', {'id': app.user.candidat.id}) }}">
                <h3>Modifier Mes Informations</h3>
                <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Informations" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('mesCandidatures') }}">
                <h3>Visualiser Mes candidatures</h3>
                <img src="img/Capture d’écran Mes Candidatures.png" alt="Mes Candidatures" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('mesIdentifiantsDeConnexion') }}">
                <h3>Modifier Mes Identifiants</h3>
                <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Identifiants" width="70%"></a>
            </div>

            <div class="col m-2"><a href="{{ path('supprimer_compte') }}">
                <h3>Supprimer Mon Compte</h3>
                <img src="img/Capture d’écran desactivez mon compte.png" alt="Desactiver Mon Compte" width="70%"></a>
            </div>
        </section>


    </main>

{% endblock %}