{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de profil-candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}

    <main class="container">
    <h4 class=" font-weight-semibold mb-4 text-center">Bienvenue sur votre espace candidat ! </h4>
            <!-- Cartes -->
            <section class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col m-2"><a href="{{ path('maFiche') }}">
                    <h3>Ma Fiche Candidat</h3>
                    <img src="img/Capture d’écran ma fiche.png" alt="Ma fiche" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('modifierMesInformations') }}">
                    <h3>Modifier Mes Informations</h3>
                    <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Informations" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('mesCandidatures') }}">
                    <h3>Visualiser Mes candidatures</h3>
                    <img src="img/Capture d’écran Mes Candidatures.png" alt="Mes Candidatures" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('mesAlertes') }}">
                    <h3>Ma Recherche, Mes Alertes</h3>
                    <img src="img/Capture d’écran alerte.png" alt="Mes Alertes" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('mesIdentifiantsDeConnexion') }}">
                    <h3>Modifier Mes Informations</h3>
                    <img src="img/Capture d’écran modifier mes infos.png" alt="Modifier Mes Informations" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('modifierMesPiecesJointes') }}">
                    <h3>Modifier Mes Pièces Jointes</h3>
                    <img src="img/Capture d’écran Modifier Mes Piece Jointes.png" alt="Modifier Piece Jointes" width="70%"></a>
                </div>

                <div class="col m-2"><a href="{{ path('desactiverMonCompte') }}">
                    <h3>Desactiver Mon Compte</h3>
                    <img src="img/Capture d’écran desactivez mon compte.png" alt="Desactiver Mon Compte" width="70%"></a>
                </div>

            </section>
        </div>
    </main>




{% endblock %}